
.DetailedSerieTileContainer {
    display: flex;
    flex-direction: row;
    padding: 1rem;
}


.DetailedSerieTile-ImageContainer {
    height: 500px;
    /* width: 300px; */
    min-width: 350px;
}

.DetailedSerieTile-Description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    padding: 1rem;
}

.DetailedSerieTile-Title, .DetailedSerieTile-DescriptionText {
    padding: 1rem 0;
}

.DetailedSerieTile-Title {
    font-size: 1.3rem;
    font-weight: bold;
}

.DetailedSerieTile-GenreChip {
    margin: 0.2rem !important;
}

.DetailedSerieTile-Genres {
    padding-bottom: 1rem;
}

.DetailedSerieTile-Add {
    max-width: 400px;
}