
.RegisterPage {
    padding-top: 4rem;
}

.RegisterPage-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RegisterPage-TextField {
    width: 200px !important;
    padding: 1rem 0 !important;
}

.RegisterPage-Button{
    margin-top: 2rem !important;
}

.RegisterPage-ChipSuccess {
    margin-top: 1.5rem;
    background-color: #a2cf6e !important;
}