
.RegisterPage {
    padding-top: 4rem;
}

.RegisterPage-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.RegisterPage-TextField {
    width: 200px !important;
}

.RegisterPage-Button{
    margin-top: 2rem !important;
}