.SerieDetailsPage-Episodes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.SerieDetailsPage-Episodes ul {
    width: 100% !important;
}

.SerieDetailsPage-Episodes ul li {
    padding-top: 0;
    padding-bottom: 0;
}

.SerieDetailsPage-EpisodeImage {
    height: 120px;
    min-width: 200px;
    padding: 0.7rem;
}
.SerieDetailsPage-EpisodeTitle {
    display: block;
    font-weight: bold;
}